{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{template "title"}}</title>

	<link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/public/img/favicon/site.webmanifest">

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/public/css/main.css">
	<script src="/public/js/main.js"></script>
</head>
<body>
	{{template "body"}}
</body>
</html>
{{end}}